html, body, .container, .page, #root {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

nav {
  background: pink;
  margin-bottom: 10px;
}

.brand-logo, .versus, .waifu-card {
  font-family: 'Megrim', cursive;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.content {
  flex: 1 0 auto;
}

.waifu-card  {
  font-size: 1.7em;
  color: pink;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.5);

  vertical-align: text-bottom;
  border-radius: 0px;
  margin: 20px;
  box-shadow: 10px 10px pink;
}

.full-screen-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}
